/*Body*/
body{
    margin: 0px;
    background-color: #323030;
}

/*----------------------------------*/

/*Header*/
header{
    background-color: #501919;
}

/*h1 Tag*/
h1 {
    padding: 2px;
    text-align: center;
    color: #dfdddd
}

/*div class for dropdown menu here*/
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: #2f0c0c;
    font-family: inherit; /*Important for veritcal align on mobile phones*/
    margin: 0; /*Important for veritcal align on mobile phones*/
}

.dropdown .dropbtn:hover {
    background-color: #1d0707;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #501919;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #a35a5a;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/*Horizontal Rule Tag*/
hr {
    height: 5px;
    border-width:0;
    color:gray;
    background-color: #501919
}

/*Navigation Bar*/
.navbar {
    overflow: hidden;
}

.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    text-align: center;
}

.navbar a{
    color: white;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
    text-align: center;
}

.navbar a:hover{
    background-color: #a35a5a;
}
.navbar li{
    display: inline;
}

/*----------------------------------*/

/*Main*/
main{
    margin: 20px;
    background-color: #323030;
}

/*h2 Tag*/
h2 {
    text-align: center;
    color: #dfdddd
}

/*Paragraph Tag*/
p {
    text-align: center;
    color: #dfdddd
}

/*----------------------------------*/

.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider img{
    width: 50%;
    display: none;
    margin: auto;
}
img.displaySlide {
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}

.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: hsla(0, 0%, 100%, 0.5);
    color: black;
    border: none;
    cursor: pointer;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}

@keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
}
/*----------------------------------*/

table, th, td {
    text-align: center;
    border: 1px solid #dfdddd;
    border-collapse: collapse;
    padding: 10px;
    color:#dfdddd;
}

ul {
    list-style-type: none;
    text-align: center;
    color: #dfdddd
}

/*----------------------------------*/

footer {
    text-align: center;
    background-color: #181212;
    color: #dfdddd;

}